.container-autenticacao {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    height: 100vh;
    width: 100%;
    background-image:
        linear-gradient(rgba(156, 175, 136, 0.6), rgba(156, 175, 136, 0.6)),
        url('/cliente/recursos/imagens/fundos/fundo-login.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.logo_login {
    align-self: self-start;
    margin: 2rem 3rem;
}

.logo_login>img {
    margin: auto;
    object-fit: cover;
    width: 150px;
}

.btn-voltar-autenticacao {
    color: white;
    text-decoration: none;
    padding: .5rem .65rem;
    border: 1px solid white;
    border-radius: .5rem;
    transition: all .3s ease-in-out;
    font-size: 0.9rem;
}

.btn-voltar-autenticacao:hover {
    background-color: white;
    color: black;
}

.form-auth {
    align-self: self-start;
    padding: 2rem 3rem;
    height: 100%;
    width: 400px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.form-auth-titulo {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}

.form-auth h3,
.form-auth h6 {
    color: white !important;
    text-align: justify;
    margin: 1rem 0;
}

.form-cad {
    width: 600px !important;
}

.componentes-auth {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    gap: 1rem;
    align-items: center;
}

/*#region ***** Campo flutuante *****/
.campo-flutuante {
    position: relative;
    width: 100%;
    margin-bottom: 2rem;
}

.campo-flutuante input {
    width: 100%;
    padding: .75rem .25rem;
    border: none;
    border-bottom: 1px dashed white;
    background: transparent;
    color: white;
    font-size: .8rem;
    font-weight: 500;
    outline: none;
}

.campo-flutuante label {
    position: absolute;
    left: 0;
    top: 1rem;
    color: rgba(255, 255, 255, 0.7);
    font-size: 1rem;
    pointer-events: none;
    transition: all 0.2s ease;
}

.campo-flutuante input:focus+label,
.campo-flutuante input:not(:placeholder-shown)+label {
    top: -0.5rem;
    font-size: .9rem;
    font-weight: 700;
    color: #fff;
    text-shadow: 1px 1px 2px rgb(0, 0, 0, 0.2);
}

.campo-flutuante input:focus {
    box-shadow: none !important;
    border: 0;
    border-bottom: 1px solid white !important;
}
/*#endregion*/

.olho-senha {
    position: absolute;
    right: 0.5rem;
    cursor: pointer;
    color: white;
}

.link-autenticacao {
    display: block;
    margin: .5rem 0;
    color: whitesmoke;
    text-decoration: none;
    text-align: center;
    font-size: .9rem;
    line-height: 1.5;
}

.link-autenticacao b {
    font-weight: 700;
}

.link-autenticacao:hover {
    text-decoration: underline;
}

.btn-confirmar {
    width: 100%;
    padding: .75rem;
    margin: 0;
    background-color: white;
    border: none;
    color: black;
    font-size: 1rem;
    font-weight: 700;
    cursor: pointer;
    border-radius: 50rem;
    transition: all .3s ease-in-out;
}

.btn-confirmar:hover {
    background-color: #d9d9d9;
}

/*#region Responsividade */
@media (max-width: 1024px) {
    .container-autenticacao {
        overflow: hidden;
        justify-content: center;
        align-items: center;
        background-color: #A0A684 !important;
    }

    .form-auth {
        width: 100% !important;
        box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
    }

    .form-auth-titulo h3 {
        font-size: 1.75rem;
    }

    .form-cad {
        overflow: scroll;
    }

    .btn-voltar-autenticacao {
        border: 2px solid white;
        font-size: 1.25rem;
    }

    .btn-voltar-autenticacao span {
        display: none;
    }

    .link-autenticacao {
        font-size: 1.125rem;
    }

    .btn-confirmar {
        margin-bottom: 1rem;
    }

    .acoes-login {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1.25rem;
    }

    .acoes-login a {
        border: 1px solid white;
        padding: .5rem 1rem;
        border-radius: .5rem;
        text-decoration: none;
        width: 100%;
    }

    .acoes-login a:active, .acoes-login a:hover {
        text-decoration: none;
    }

    .texto-info-recuperacao {
        font-size: 1.25rem;
        font-weight: 400;
    }

    .componentes-auth {
        flex-wrap: wrap;
    }

    /***** Campo flutuante *****/
    .campo-flutuante input {
        font-size: 1rem;
    }

    .campo-flutuante label {
        font-size: 1rem;
    }

    .campo-flutuante input:focus+label,
    .campo-flutuante input:not(:placeholder-shown)+label {
        font-size: 1.25rem;
    }
    /*#endregion*/
}
/*#endregion*/