/*#region ***** Toasts *****/ 
.tooltip-customizada {
    background: #e17800;
    color: white;
    font-weight: 600;
    margin: 1rem;
    display: flex !important;
    flex-direction: row !important;
    align-items: center !important;
    justify-content: start !important;
}

.colored-toast {
    color: white;
    border-radius: var(--borda-arredondada);
}

.colored-toast.swal2-icon-success {
    background-color: #198754 !important;
}

.colored-toast.swal2-icon-error {
    background-color: #DC3545 !important;
}

.colored-toast.swal2-icon-warning {
    background-color: #f77e1b !important;
}

.swal2-container {
    overflow: visible !important;
}

.swal2-container .tooltip-customizada {
    background: #e17800;
    color: white;
    font-weight: 600;
    display: flex !important;
    flex-direction: row !important;
    align-items: center !important;
    justify-content: start !important;
}
/*#endregion*/

/*#region ***** Popups *****/ 
.swal2-popup {
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
    justify-content: center !important;
}

.swal2-progress-steps {
    display: block !important;
}

.custom-popup {
    border-radius: var(--borda-arredondada);
    box-shadow: rgba(0, 0, 0, 0.4) 0px 30px 90px;
}

.custom-error-popup {
    border-radius: var(--borda-arredondada);
    box-shadow: rgba(0, 0, 0, 0.4) 0px 30px 90px;
    width: 50vw;
}

.custom-button-popup {
    width: 10rem;
    margin: 0.5rem;
    font-weight: 700;
    border-radius: var(--borda-arredondada);
}

body.swal2-shown>[aria-hidden="true"] {
    filter: blur(25px);
    transition: 0.5s all;
}
/*#endregion*/